/* SUMMIT MILONE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --teal:#40E0D0;
    --yellow:#FBEC5D;
    --blue:#4159E1;
    --purple: #9400D3;
    --black: #000;
    --white: #fff;
    --light-gray: #eaeaea;
    --dark-gray: #222;
}

*{
    box-sizing: border-box;
    line-height: 1.35;
}

body {

}

h1, h2, h3, h4 {
    font-family: molle, montserrat, sans-serif
}

#skip {
	position: absolute;
	top: -40px;
	left: 10px;
	background-color: var(--dark-gray);
	color: white;
	padding: 10px;
	text-decoration: none;
} 

skip:focus {
}

header{
    background-color: var(--teal);
    padding: 10px;
    text-align: left;
}

#logo img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: var(--teal);
    color: #000;
    text-align: center;
}

#menu-toggle label {
    display:block;
    background-color: var(--dark-gray);
    color: #000;
    cursor: pointer;
    text-align: center;
}

#main {
	padding: 10px;
}

article {
}

section {
}

#intro {
}

#plan {
}

#testimonials {
}

#about {
}

#contact {
}

form {
}

footer {
}

@media screen and (max-width:320px) {
    #menu-toggle ul {
	grid-template-columns: 1fr;
    }
}

@media screen and (min-width:321px) {
}

@media screen and (min-width:750px) {
}
